.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #F2F2F2;
  color: #333333;
}

.input-section {
  flex: 1;
  padding: 10px;
}

.preview-section {
  flex: 2;
}

.preview-section #PreviewText{
  text-align: center;
}

.section-button {
  width: 150px;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  background-color: #d4eaf7;
  color: #333333;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.section-button:hover {
  background-color: #f5f4f1;
}

input {
  margin-bottom: 8px;
  padding: 6px;
  width: 525px;
  background-color: #e8e8e8;
  border: 1px;
  border-radius: 8px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  width: 574px;
}
